{% extends 'app/layout.html.twig' %}

{% block page_title %}
    Notatka - {{ note.name }}
{% endblock %}

{% block content %}
    {% if note.items|length > 0 %}
        {{ form_start(form) }}
        {{ form_end(form) }}

        <table class="table">
            <thead>
                <tr></tr>
                <tr>Lp.</tr>
                <tr>Nazwa</tr>
            </thead>
            <tbody>
                {% for noteItem in items %}
                    <tr data-note-item-id="{{ noteItem.id }}">
                        <td class="note-item-checked">
                            <input type="checkbox" value="{{ noteItem.id }}" {% if noteItem.isChecked %}checked="checked"{% endif %}>
                        </td>
                        <td class="note-item-checked">{{ loop.index }}</td>
                        <td class="note-item-checked">{{ noteItem.name }}</td>
                        <td><a href="{{ path('notes_item_remove', {id: noteItem.id}) }}">Usuń</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Brak wpisów.

        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {

        $('.note-item-checked').click(function() {
            var value = $(this).parent().attr("data-note-item-id");

            var params = {};
            params.noteItem = value;

            $.post('{{ path('note_item_checked', {'note': note.id}) }}', params, function(result) {
                if( result.status === "error" ) {
                    alert(result.message);
                } else {
                    $('input[value="' + value + '"]').prop('checked', result.data.checked);
                }
            }, "JSON");
        });
    });
</script>
{% endblock %}